
<table>
<tr><th>Player</th><th>Lines of Code</th><th>File Size</th><th>Algorithm</th><th>Randomness</th></tr>
<tr><td><a href="participants/player2.c">participants/player2</a></td><td>177</td><td>5649</td><td>N/A</td><td>No randomness</td></tr>
<tr><td><a href="participants/seq_player_phillips.c">participants/seq_player_phillips</a></td><td>213</td><td>6768</td><td>N/A</td><td>No randomness</td></tr>
</table>

<table>
<tr><th>&nbsp;</th><th>participants/player2</th><th>participants/seq_player_phillips</th><th class=1>Home Victories</th></tr>
<tr><th>participants/player2</th><td><a href="participants/0001.html" onclick="return game(this)" class=away>19&#45;45</a></td><td><a href="participants/0002.html" onclick="return game(this)" class=away>30&#45;34</a></td><td>0</td></tr>
<tr><th>participants/seq_player_phillips</th><td><a href="participants/0003.html" onclick="return game(this)" class=away>23&#45;41</a></td><td><a href="participants/0004.html" onclick="return game(this)" class=away>19&#45;45</a></td><td>0</td></tr>
<tr style="vertical-align: bottom;"><th class=O>Away Victories:</th><td>2</td><td>2</td><td>0<br>4</td></tr>
</table>

<table>
<tr><th>Place</th><th>Player</th><th style="text-align: right;">Avg. CPU Time Per Turn</th><th>Opponent Moves Blocked</th><th>Short Matches</th><th>Matches<br>[Won / Lost]</th><th>Score</th></tr>
<tr><td>1.</td><td>participants/player2</td><td style="text-align: right;">0&nbsp;&mu;s</td><td>0</td><td>0</td><td>2 / 2</td><td>0</td></tr>
<tr><td>2.</td><td>participants/seq_player_phillips</td><td style="text-align: right;">11544&nbsp;&mu;s</td><td>9</td><td>0</td><td>2 / 2</td><td>0</td></tr>
</table>
