body { background-color: #000; color: #aaa; font-family: sans-serif; }
.board { background-color: #080; }
.board b { color: #000; font-weight: normal; }
.board i { color: #fff; font-style: normal; }
.board .coord { background-color: #000; }
.board .cursor { color: #dd3; }
div#game h2 { margin-top: 15mm; font-size: x-small; }

